.wrapper
  .side
    .side-top
      = render 'parts/user-nav'
    .side-bottom
      = render 'parts/group-list'
  .main
    .main-top
      = render 'parts/group-info'
    .main-center
      = render 'parts/message-list'
    .main-bottom
      = render 'parts/message-form'